@import "@styles/colors.scss";
@import "@styles/breakpoints.scss";

.cart-item {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $primary-color-200;

  @include onMobile {
    flex-direction: column;
  }

  &__image-block {

    @include onMobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  &__image {
    width: 100px;
    height: 67px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  &__description {
    margin-bottom: 10px;
  }

  &__description-item {
    display: flex;
    gap: 12px;
  }

  &__description-block {
    flex-grow: 1;
  }

  &__description-key {
    width: 80px;
    color: $primary-color-300;
    font-weight: 400;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  &__description-value {
    max-width: 200px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include onMobile {
      flex-direction: column;
    }

  }

  &__price {
    margin-top: 16px;
    color: $secondary-color;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    word-break: break-word;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__button-image {
    width: 14px;
    height: 14px;
  }

  &__button-text {
    color: $primary-color-300;
  }
}
