@import "@styles/colors.scss";

.product-description {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $primary-color;
  }

  &__title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
  }

}
