@import "@styles/colors.scss";

.brands {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 165px;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__title {
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
