@import "@styles/colors.scss";

.brands {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 165px;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    line-height: normal;
    transition: .2s linear;
    cursor: pointer;


    &:hover p {
      color: $secondary-color;
    }

  }

}
