@import "@styles/colors";
@import "@styles/breakpoints";

.products {
  &__grid {
    display: flex;
    gap: 32px;

    @include onBig-tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__filter-button {
    display: none;

    @include onBig-tablet {
      display: block;
      padding: 5px;
      margin-bottom: 15px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__filter-image {
    width: 24px;
    height: 24px;
  }

  &__sidebar-container {
    display: block;
    transition: transform 0.3s ease-in-out;
    max-width: 269px;
    width: 100%;

    @include onBig-tablet {
      display: block;
      transform: translateX(-100%);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      overflow-y: auto;
      background-color: $white;
      max-width: 350px;
      z-index: 10;

      &.sidebar-opened {
        transform: translateX(0);
      }
    }

    @include onMobile {
      width: 300px;
    }
  }

  &__breadcrumbs {
    margin: 29px 0 24px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    color: $primary-color;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
}
