@import "@styles/colors.scss";

.quantity-selector {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid $primary-color-200;
  background: $primary-color-100;
  padding: 14px 16px;
  position: relative;
  max-width: 150px;
  width: 100%;

  &__input {
    width: 40px;
    border: none;
    outline: none;
    background: $primary-color-100;
  }
}

.quantity-selector__dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  background: $primary-color-100;

  &::before {
    content: "|";
    margin-right: 20px;
    color: $primary-color-200;
  }

}

.quantity-selector__dropdown-list {
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  right: 0;;
  z-index: 1000;
  background: $white;
}

.quantity-selector__dropdown-list li {
  width: 80px;
  padding: 10px 15px;
  cursor: pointer;
}

.quantity-selector__dropdown-list li:hover {
  background-color: $secondary-color;
}
