@import "@styles/colors.scss";

.rating {

  &__title {
    color: $primary-color;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__stars {
    display: flex;
    gap: 3px;
  }

  &__image {
    width: 20px;
    height: 20px;
  }
  
}
