$white: #fff;
$black: #000;

$primary-color: #151515;
$primary-color-400: #575757;
$primary-color-300: #a9a9a9;
$primary-color-200: #d1d1d1;
$primary-color-100: #f9f9f9;
$primary-color-50: #f5f5f5;

$secondary-color: #6a983c;
$secondary-color-400: #46760a;
$secondary-color-300: #92c064;
$secondary-color-200: #f4f8ec;

$additional-light-color: #ebebeb;
$additional-orange-color: #E5704B;

$error-color: #FF9494;

