@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
