@import "@styles/colors.scss";

.categories {
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 150px;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    color: $primary-color;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__count {
    margin-right: 5px;
    color: $secondary-color;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    padding: 0 8px;
    background: $secondary-color-200;
    border-radius: 12px;
  }
}
