@import "@styles/colors.scss";

.categories {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 160px;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    cursor: pointer;

    &.selected {
      background: lighten($secondary-color-200, 0.9);
      border-radius: 5px;
    }

    &.selected p {
      color: $secondary-color;
      font-weight: bold;
    }

    & p:hover {
      color: $secondary-color;
    }
  }

  &__name {
    color: $primary-color;
    line-height: normal;
    cursor: pointer;
  }

  &__count {
    margin-right: 5px;
    color: $secondary-color;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    padding: 0 8px;
    background: $secondary-color-200;
    border-radius: 12px;
  }
}
