@import "@styles/colors.scss";
@import "@styles/breakpoints.scss";

.suggested-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 251px;
  
  @include onTablet {
    margin: 0 auto;
  }

  &__image {
    width: 251px;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
  }

  &__title {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
  }

  &__description {
    color: $primary-color-400;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 251px;
  }

  &__price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__price {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
  }
}
