.customCheckbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.customCheckbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.customCheckbox__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
