@import "@styles/breakpoints";

.product {

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    @include onTablet {
      display: flex;
      flex-direction: column;
    }
    
  }

}
