.cart-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 65px 5px;
  max-height: 600px;
  overflow: auto;

  &--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    font-family: Poppins;
  }

  &__empty-cart-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
}
