@import "@styles/colors.scss";

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;

  &__left-block {
    display: flex;
    align-items: center;
    gap: 33px;
  }
  &__right-block {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &__item {
    font-size: 12px;
  }

  &__link {
    color: $secondary-color;
  }

  &__link_black {
    color: $primary-color;
  }
}
