@import "@styles/colors.scss";
@import "@styles/breakpoints.scss";

.sidebar {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onBig-tablet {
      padding: 20px;
      gap: 24px
    }

  }

  &__header {
    display: none;

    @include onBig-tablet {
      display: block;
      position: sticky;
      display: flex;
      justify-content: flex-end;
      top: 0;
      height: 24px;
      background: $white;
      z-index: 999;
    }
  }

  &__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    display: none;

    @include onBig-tablet {
      display: block;
    }
  }

  &__close-image {
    width: 24px;
    height: 24px;
  }
}
