@import "@styles/breakpoints.scss";
@import "@styles/colors.scss";

.navigation {
  display: flex;
  justify-content: center;
  padding: 16px 45px;
  gap: 54px;
  background: $primary-color-100;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
}
