@import "@styles/colors.scss";
@import "@styles/breakpoints.scss";

.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $primary-color-50;
  border-radius: 12px;
  padding: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;

  @include onMobile {
    width: 350px;
  }

  &__message {
    font-weight: bold;
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
}
