@import "@styles/colors.scss";
@import "@styles/breakpoints.scss";

.breadcrumbs {
  display: flex;
  padding: 16px 0px;
  font-size: 14px;
  font-weight: 400;

  @include onMobile {
    font-size: 12px;
  }

  &__item {
    white-space: nowrap;

    &:last-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__link {
    color: $primary-color-300;
  }

  &__link_active {
    color: $primary-color;
  }

  &__seperator {
    margin: 0 8px;
  }
}
